
/*rgb(256,244,244)*/

.about-block{
    display: flex;
    /*margin: 5rem 3rem 5rem 3rem  ;*/
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}



p{
    color: dimgray;
}

h4{
    font-size: large;
    font-weight: 500;
}


.even-bg-color{
    background-color: rgb(241, 238, 236);
}

.about-block-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr); /* Adjust '200px' to your preference */
    grid-template-rows: repeat(2, auto);
    justify-items:center;
    gap: 10px; /* Adjust the gap as needed */
    padding: 10rem 15vw 10rem 15vw ;
}
.about-block-grid-div {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    gap: 0.5rem;
}
.about-block-grid img {
    padding: 1rem;
}


.staff-img{
    width: 10rem;
    height: auto;


}
.font{
    /* IT MIGHT BE BUGGY  */
    font-family: NSimSun, serif;
    letter-spacing: 3px;
    font-size: 25px;
}

.direction-rtl{
    direction: rtl;
}

.map-container{

    background-color: rgba(0, 0, 0, 0.55);
}